n8n-workflow.json
{
  "name": "Magic Story Image Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5e235e16-fa2f-4e79-a549-059d5e409b6a",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2bd56efd-80d3-4f47-b7ad-a31ec0a0892c",
      "name": "Webhook",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "5e235e16-fa2f-4e79-a549-059d5e409b6a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OLLAMA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemma4:31b-cloud\",\n  \"prompt\": \"Describe this drawing in detail. What characters or objects are shown? What are they doing? If they are doing nothing, then don't mention it. Be specific\",\n  \"images\": [\"{{ $json.body.image }}\"],\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "070f08ff-7b9b-4102-92cd-7cb24465915b",
      "name": "Ollama Vision",
      "position": [
        192,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ 'https://image.pollinations.ai/prompt/' +\n   encodeURIComponent(\n     $json.response +\n     'if needed, two legs per character, no extra limbs, no duplicate body parts'\n   ) +\n   '?width=800&height=600&seed=42&nologo=true'\n}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "image/*"
            }
          ]
        },
        "options": {
          "timeout": 400000
        }
      },
      "id": "40cce401-1676-4669-b234-b7064fa85101",
      "name": "Pollinations Image",
      "position": [
        576,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OLLAMA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemini-3-flash-preview:cloud"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            },
            {
              "name": "prompt",
              "value": "=Based on the story and drawing description below, write exactly one short image prompt for a text-to-image model.\n\nRules:\n- Describe only what should be visible in the picture.\n- Keep it to one sentence.\n- Be specific about the characters, their actions, and the background.\n- Preserve the original drawing details.\n- If letters are characters, explicitly say they have arms and legs.\n- If other letters are mentioned, explicitly say they must appear in the image.\n- Do not include dialogue.\n- Do not include instructions like \"write\", \"illustrate\", or \"draw\".\n- Do not include age range.\n- Do not include style words like \"children's book\", \"magical\", or \"high quality\".\n\nStory and description:\n{{ $json.response }}\n{{ $('Webhook').item.json.body.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b8d523f-2741-4fa3-96e5-add90df366b4",
      "name": "Ollama Story",
      "position": [
        400,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"myField\": \"{{ 'https://image.pollinations.ai/prompt/' + encodeURIComponent($node[\"Ollama Story\"].json.response + ', children book illustration style, colorful, magical, high quality') + '?width=800&height=600&seed=42&nologo=true' }}\"\n}",
        "options": {}
      },
      "id": "000e9f67-5a82-4fde-a7ff-cb54601167da",
      "name": "Return Response",
      "position": [
        976,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "eb9c3dca-57be-42aa-8378-f57eb108b03b",
      "name": "Error Trigger",
      "position": [
        0,
        224
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, message: $json.error?.message || 'Something went wrong. Please try again.' }) }}",
        "options": {}
      },
      "id": "0ca1c2f4-6aaa-4162-bb58-ceb1c9109d48",
      "name": "Return Error",
      "position": [
        192,
        224
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      myField: 'https://image.pollinations.ai/prompt/' + encodeURIComponent($node[\"Ollama Story\"].json.response + ', children book illustration style, colorful, magical, high quality') + '?width=800&height=600&seed=42&nologo=true'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "7e35b292-87a5-43a5-8d1b-78dada936b9f",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Return Error",
            "type": "main"
          }
        ]
      ]
    },
    "Ollama Story": {
      "main": [
        [
          {
            "node": "Pollinations Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Vision": {
      "main": [
        [
          {
            "node": "Ollama Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pollinations Image": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ollama Vision",
            "type": "main"
          }
        ],
        []
      ]
    },
    "Return Response": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ab7330d0-dce7-459a-82e3-200fe2ffec53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7330867a7b9ca01a653fc175b20081b84574df0e6fbde15f160af4320b544ca"
  },
  "id": "q5Z5XmR1JhHdAGFD",
  "tags": []
}
